<div class="col-xl-4 col-md-6 col-sm-8 col-10" style="margin: auto;">
<div class="d-flex flex-row bd-highlight mb-3">
<h1>New post    .</h1>
 <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 


    <lottie-player src="https://lottie.host/46c25332-c60f-4d01-b757-006d16170b78/Yali93cTNq.json" background="transparent" speed="1" style="width: 50px; height: 50px;" loop autoplay></lottie-player>

</div>
</div>
<div class="row">
  <%= render "form", post: @post %>
</div>


<br>
